/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.3_webpack@5.78.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/tailwindcss@3.3.1_postcss@8.4.21/node_modules/tailwindcss/base.css ***!
  \********************************************************************************************************************************************************************************************/
@tailwind base;

/*!**************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.3_webpack@5.78.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/tailwindcss@3.3.1_postcss@8.4.21/node_modules/tailwindcss/components.css ***!
  \**************************************************************************************************************************************************************************************************/
@tailwind components;

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.3_webpack@5.78.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/tailwindcss@3.3.1_postcss@8.4.21/node_modules/tailwindcss/utilities.css ***!
  \*************************************************************************************************************************************************************************************************/
@tailwind utilities;

/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.3_webpack@5.78.0/node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \*********************************************************************************************************************/
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/Roboto-Regular-a1cbff62febaccbec601.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/Roboto-Medium-8d1d8c740af129231f3c.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/Roboto-Bold-0df7dce29c23275a31b3.ttf) format("truetype");
}

body {
  font-family: Roboto, Arial, sans-serif;
}

