@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/@ranklab-gaming/lichess-pgn-viewer/scss/lichess-pgn-viewer";

body {
  background: #161512;
  font-family: "Roboto";
  --board-color: #886f46;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

body {
  font-family: Roboto, Arial, sans-serif;
}
