@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$lpv-site-hue: 37;
$lpv-accent: hsl(209deg 77% 46%);
$lpv-accent-over: #fff;
$lpv-bg: hsl(37deg 12% 96.5%);
$lpv-bg-controls: hsl(37deg 12% 96.5%);
$lpv-bg-movelist: hsl(37deg 12% 96.5%);
$lpv-bg-variation: hsl(37deg 12% 92%);
$lpv-bg-pane: fade-out(hsl(37deg 12% 96.5%), 0.01);
$lpv-font: hsl(0deg 0% 30%);
$lpv-font-shy: color.mix(#fff, hsl(0deg 0% 30%), 47%);
$lpv-font-accent: color.mix(hsl(37deg 12% 96.5%), hsl(0deg 0% 30%), 20%);
$lpv-border: hsl(0deg 0% 85%);
$lpv-inaccuracy: hsl(202deg 78% 40%);
$lpv-mistake: hsl(41deg 100% 35%);
$lpv-blunder: hsl(0deg 68% 50%);
$lpv-good-move: hsl(130deg 67% 40%);
$lpv-brilliant: hsl(129deg 71% 30%);
$lpv-interesting: hsl(307deg 80% 59%);

@import "../node_modules/@ranklab-gaming/lichess-pgn-viewer/scss/lichess-pgn-viewer";

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

body {
  font-family: Roboto, Arial, sans-serif;
}
